:root {
    /* --background: #ffffff;
    --foreground: #fdc702;
    --highlight: #fff203; */

    /*--background: #74DAC6;
    --foreground: #333366;
    --highlight: #fff203;*/

    /*--background: #d2e1c8;
    --foreground: #1f574c;
    --highlight: #fff203;
    --link-highlight: rgba(31, 87, 76, .15);*/

    --sans-serif-font: "Helvetica Neue", Helvetica, Verdana, sans-serif;
    --serif-font: Georgia, "Times New Roman", Times, serif;

    --global-margin: 3em;
}

@media only screen and (max-width: 480px) {
    :root {
        --global-margin: 1.5em;
    }
}

/**
 * HTML tags
 */

a {
    color: var(--foreground);
    text-decoration: none;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--sans-serif-font);
    font-weight: normal;
    line-height: 1.5em;
    margin: var(--global-margin) var(--global-margin) var(--global-margin) 0;
}

button {
    background-color: var(--background);
    border: 3px var(--foreground) solid;
    border-radius: 6px;
    box-shadow: var(--foreground) 6px 6px 0px 0px;
    color: var(--foreground);
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: .75em;
    font-weight: bold;
    margin: calc(1.5em + 6px) 0 0 6px;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
    transform: translate(-6px, -6px);
    transition: all .2s;
}

button:active, button.active {
    background-color: var(--foreground);
    box-shadow: var(--foreground) 0px 0px 0px 0px;
    color: var(--background);
    transform: translate(0, 0);
}

footer {
    clear: left;
    font-family: var(--serif-font);
    margin: var(--global-margin) 0 0 var(--global-margin);
}

header {
    margin: 0 0 var(--global-margin) var(--global-margin);
}

h1 {
    display: inline-block;
    font-family: var(--sans-serif-font);
    font-size: 2em;
    margin: 0 calc(var(--global-margin) / 2) calc(var(--global-margin) / 4) 0;
    text-transform: uppercase;
    white-space: nowrap;
}

h1 a {
    border: 0;
    font-weight: lighter;
}
 
nav {
    display: inline-block;
}

nav a {
    margin-right: calc(var(--global-margin) / 2);
    padding-bottom: 5px;
    position: relative;
    text-decoration: none;
}

nav a:hover::after, nav a.current-page::after {
    bottom: 0;
    color: var(--highlight);
    content: '●';
    height: 45%;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: -1;
}

p {
    margin-block-end: 1.5em;
}

section:not(.column) {
    margin: 0 0 var(--global-margin) var(--global-margin);
    max-width: 60em;
}

section h2 {
    display: inline-block;
    font-family: var(--serif-font);
    font-weight: normal;
    padding: 5px;
    position: relative;
}

section h2::after {
    background-color: var(--highlight);
    bottom: 0;
    content: '';
    height: 45%;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: -1;
}

/**
 * classes
 */

.block {
    display: block;
}

.center {
    text-align: center;
}

.column {
    grid-column-end: span 6;
}

.column--short {
    grid-column-end: span 4;
}

/*.column--wide {
    grid-column-end: span 12;
}*/

.form-group {
    max-width: 21em;
    margin-top: 1.5em;
    position: relative;
}

.form-group input {
    background-color: var(--background);
    border: 3px solid var(--foreground);
    border-radius: 6px;
    box-shadow: var(--foreground) 6px 6px 0px 0px;
    box-sizing: border-box;
    color: var(--foreground);
    font-family: inherit;
    font-size: 1em;
    margin: 6px 0 0 6px;
    padding: 1em;
    width: calc(100% - 6px);
    transform: translate(-6px, -6px);
    transition: all 0.2s ease-in-out;
}

.form-group label {
    position: absolute;
    left: calc(.5em + 3px);
    top: 50%;
    transform: translate(-3px, calc(-50% - 3px));
    background-color: var(--background);
    padding: 0 0.5em;
    color: var(--foreground);
    font-size: 1em;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

.form-group input::placeholder {
    color: transparent;
    transition: color 0.2s ease-in-out;
}

.form-group input:focus::placeholder {
    color: transparent;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-0.68em) scale(0.75);
    color: var(--foreground);
}

.highlight {
    color: var(--highlight);
}

.highlight-box {
    border: 1px var(--foreground) solid;
    border-radius: 3px;
    font-size: .67em;
    padding: 2px;
    vertical-align: bottom;
}

.inline-block {
    display: inline-block;
}

.lighter {
    opacity: .67;
}

.margin-right--inline {
    margin-right: .5em;
}

.rotate {
    display: inline-block;
    transform-origin: center;
    transition: all .5s;
}

.secondary {
    font-size: .75em;
    opacity: .67;
}

.small-caps {
    font-variant: small-caps;
    text-transform: lowercase;
}

.svg-fill--background {
    fill: var(--background);
}

.svg-fill--foreground {
    fill: var(--foreground);
}

.svg-stroke--background {
    stroke: var(--background);
}

.svg-stroke--foreground {
    stroke: var(--foreground);
}

.tertiary {
    font-size: .67em;
    opacity: .5;
}

.toast {
    visibility: hidden;
    background-color: var(--foreground);
    color: var(--background);
    text-align: center;
    border-radius: 999px;
    padding: 0.8em 1.5em;
    position: fixed;
    z-index: 9999;
    left: 50%;
    bottom: var(--global-margin);
    transform: translateX(-50%);
    max-width: calc(100% - 2*var(--global-margin));
    opacity: 0;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.toast.show {
    visibility: visible;
    animation: pill-fadein 0.3s ease-out forwards, pill-fadeout 0.3s ease-in 2.7s forwards;
}

@keyframes pill-fadein {
    from {
      transform: translate(-50%, 10px);
      opacity: 0;
    }
    to {
      transform: translate(-50%, 0);
      opacity: 1;
    }
}
  
@keyframes pill-fadeout {
    from {
      transform: translate(-50%, 0);
      opacity: 1;
    }
    to {
      transform: translate(-50%, 10px);
      opacity: 0;
    }
}

/**
 * IDs
 */

#grid {
    display: grid;
    gap: var(--global-margin);
    grid-template-columns: repeat(auto-fill, var(--global-margin));
    grid-template-rows: masonry;
    margin-left: var(--global-margin);
}

#main a {
    box-shadow: inset 0 -.25em var(--link-highlight);
    padding-bottom: -.25em;
    position: relative;
    transition: all .2s;
}

#main a:hover {
    box-shadow: inset 0 -.75em var(--link-highlight);
}

#reload-button-container {
    position: absolute;
    top: var(--global-margin);
    right: var(--global-margin);
}

/**
 * Small Screens (.column--wide isn't considered here yet)
 */

 @media only screen and (min-width: 51em) and (max-width: 63em) { /* 1 long column + 1 short column + 3 * global margin = 21 * global margin */
    .column:not(.column--short) {
        grid-column-end: span 8;
    }
}

 @media only screen and (max-width: 51em) { /* 2 short columns + 3 * global margin = 17 * global margin */
    .column, .column--short, .column--wide {
        grid-column-end: span 1;
    }

    #grid {
        grid-template-columns: repeat(auto-fill, 100%);
    }
}

@media only screen and (max-width: 349px) {
    #reload-button-container {
        display: none;
    }
}
